.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 30px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        font-size: 18px;

        &__label {
            margin-bottom: -0.8em;
        }

        &__field {
            width: 250px;
            height: 40px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 18px;
        }

        &__pass {
            position: relative;

            &__toggle {
                position: absolute;
                right: 10px;
                top: 8px;

                &:hover {
                    cursor: pointer;
                }

                &__icon {
                    width: 25px;
                    height: 25px;

                }
            }
        }

        &__button {
            text-align: center;
            font-family: yekanbakh;
            font-size: 18px;
            width: 280px;
            height: 60px;
            color: white;
            background-color: #f0932b;
            transition: all 0.5s ease !important;
            margin-top: 30px;
    
            &:hover {
                transition: all 0.5s ease !important;
                border: 2px solid #f0932b;
                color: #f0932b;
                background-color: #ecf0f3;
                cursor: pointer;
            }
        }
    }
}