.g {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 220px calc(100vw - 530px) 220px;
    grid-template-rows: 100%;
    gap: 30px;

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 20px;
        grid-column: 1/2;
        grid-row: 1/2;
        width: 220px;
        height: auto;

        &__timer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 170px;
            height: 170px;
            padding: 15px;

            &__timer {
                width: 170px;
                height: 170px;
            }
        }

        &__questions {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            width: 200px;
            height: auto;

            &__item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 40px;
                color: rgb(116, 116, 124);

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 200px;
            height: auto;

            &__score {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 50px;
                background-color:#00b894;
                color: white;
            }

            &__remain {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 50px;
                background-color:#ff7675;
                color: white;
            }
        }
    }

    &__mid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 20px;
        grid-column: 2/3;
        grid-row: 1/2;
        width: calc(100vw - 530px);
        height: auto;

        &__user-info {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 120px;

            &__image {
                width: 80px;
                height: 80px;
                border-radius: 15px;
            }

            &__item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__title {
                    font-size: 18px;
                    color: rgb(116, 116, 124);
                }
            }
        }

        &__question {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            min-height: 400px;
            height: auto;
            padding-bottom: 30px;

            &__title {
                font-size: 36px;
                margin-top: 30px;
            }

            &__text {
                font-size: 18px;
                font-weight: bold;
                width: 90%;
                margin-top: 30px;
                line-height: 1.8em;
            }

            &__submit {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
                gap: 20px;

                &__top {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;

                    &__answer {
                        padding-left: 20px;
                        padding-right: 20px;
                        width: 180px;
                        height: 50px;
                        text-align: left;
                        font-size: 20px;
                    }

                    &__button {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 80px;
                        height: 50px;
                        color: white;
                        background-color: #0984e3;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                &__result {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                    height: 50px;
                    border: 3px dashed rgb(116, 116, 124);
                    color: rgb(116, 116, 124);
                    box-shadow: none;

                    &:hover {
                        box-shadow: none;
                    }
                }

                &__wrong {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 306px;
                    height: 50px;
                    background-color:#ff7675;
                    color: white;
                }

                &__correct {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 306px;
                    height: 50px;
                    background-color:#00b894;
                    color: white;
                }
            }
        }
    }

    &__right {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        right: 10px;
        width: 220px;
        height: auto;

        &__title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 200px;
            height: 50px;
            background-color: #74b9ff;
            color: white;
            font-size: 18px;

            &__image {
                width: 25px;
                height: 25px;
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 40px;
            color: rgb(116, 116, 124);
        }

        &__button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 40px;
            background-color: #f9ca24;
            color: white;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .g {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    
        &__left {
            display: grid;
            grid-template-columns: 120px 1fr;
            grid-template-rows: 60px 60px;
            gap: 10px;
            width: calc(100vw - 40px);
            height: 120px;
    
            &__timer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                grid-column: 1/2;
                grid-row: 1/3;
                min-width: 90px;
                max-width: 90px;
                height: 90px;
                padding: 10px;
                border-radius: 50%;
                align-self: flex-start;
    
                &__timer {
                    width: 90px;
                    height: 90px;
                }
            }
    
            &__questions {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-end;
                grid-column: 2/3;
                grid-row: 2/3;
                gap: 15px;
                width: calc(100vw - 210px);
                height: 70px;
                overflow-x: auto;
                align-self: flex-start;
                padding-left: 10px;
                padding-right: 20px;
                margin-right: -20px;
    
                &__item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    min-width: 70px;
                    height: 40px;
                    color: rgb(116, 116, 124);
    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
    
            &__items {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                grid-column: 2/3;
                grid-row: 1/2;
                gap: 20px;
                width: 320px;
                max-height: 100%;
                font-size: 15px;
                align-self: flex-start;
    
                &__score {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    height: 50px;
                    background-color:#00b894;
                    color: white;
                }
    
                &__remain {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    height: 50px;
                    background-color:#ff7675;
                    color: white;
                }
            }
        }
    
        &__mid {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            width: calc(100vw - 40px);
            height: auto;
            margin-top: 30px;
    
            &__user-info {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 120px;
    
                &__image {
                    width: 80px;
                    height: 80px;
                    border-radius: 15px;
                }
    
                &__item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    &__title {
                        font-size: 18px;
                        color: rgb(116, 116, 124);
                    }
                }
            }
    
            &__question {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                min-height: 400px;
                height: auto;
                padding-bottom: 30px;
    
                &__title {
                    font-size: 36px;
                    margin-top: 30px;
                }
    
                &__text {
                    font-size: 18px;
                    font-weight: bold;
                    width: 90%;
                    margin-top: 30px;
                    line-height: 1.8em;
                }
    
                &__submit {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 50px;
                    gap: 20px;
    
                    &__top {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;
    
                        &__answer {
                            padding-left: 20px;
                            padding-right: 20px;
                            width: 180px;
                            height: 50px;
                            text-align: left;
                            font-size: 20px;
                        }
    
                        &__button {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 80px;
                            height: 50px;
                            color: white;
                            background-color: #0984e3;
    
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
    
                    &__result {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 300px;
                        height: 50px;
                        border: 3px dashed rgb(116, 116, 124);
                        color: rgb(116, 116, 124);
                        box-shadow: none;
    
                        &:hover {
                            box-shadow: none;
                        }
                    }
    
                    &__wrong {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 306px;
                        height: 50px;
                        background-color:#ff7675;
                        color: white;
                    }
    
                    &__correct {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 306px;
                        height: 50px;
                        background-color:#00b894;
                        color: white;
                    }
                }
            }
        }
    
        &__right {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            width: calc(100vw - 40px);
            height: auto;
            margin-left: 20px;
            margin-top: 20px;
            
            &__title {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: calc(100vw - 40px);
                height: 50px;
                background-color: #74b9ff;
                color: white;
                font-size: 18px;
    
                &__image {
                    width: 25px;
                    height: 25px;
                }
            }
    
            &__item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: calc(100vw - 40px);
                height: 40px;
                color: rgb(116, 116, 124);
            }
    
            &__button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: calc(100vw - 40px);
                height: 40px;
                background-color: #f9ca24;
                color: white;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}